.v-card.v-card--link.v-theme--dark.text-surface-variant.v-card--density-default.rounded-lg.v-card--variant-outlined.py-4{
    background: #212121;
}
.text-body-2.font-weight-bold.mb-n1{
    font-size: 25px !important;
}

.text-my-requests{
    padding-left: 15px;
}


@media (max-width: 800px) {
    .v-container.v-locale--is-ltr.fill-height{
    margin: 0px;
    padding: 0;
    justify-content: center;
    display: flex;
 } 

 .text-center{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-top: 15px;
 }

 .text-body-2.font-weight-bold.mb-n1{
    font-size: 31px !important;
 }

 .text-h2.font-weight-bold{
    font-size: 38px !important;
 }

 .v-row{
    flex-direction: column;
    padding-left: 15px;
 }

 .text-my-requests.text-body-3.font-weight-bold.mb-n1{
    margin-left: 15px;
    font-size: 22px;
 }

 .v-col{
    display: flex;
 }

 .v-card{
    display: flex;
    align-items: center;
    width: 90%;
 }
}
